// normal
@font-face {
	font-family: 'OpenSans';
	src: url('https://static-lib.truckerimg.com/font/open-san/OpenSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Open Sans';
	src: url('https://static-lib.truckerimg.com/font/open-san/OpenSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-Regular';
	src: url('https://static-lib.truckerimg.com/font/open-san/OpenSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}
// Medium
@font-face {
	font-family: 'OpenSans';
	src: url('https://static-lib.truckerimg.com/font/open-san/OpenSans-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'Open Sans';
	src: url('https://static-lib.truckerimg.com/font/open-san/OpenSans-Medium.ttf');
	font-weight: 500;
}
@font-face {
	font-family: 'OpenSans-Medium';
	src: url('https://static-lib.truckerimg.com/font/open-san/OpenSans-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}
// SemiBold
@font-face {
	font-family: "OpenSans";
	src: url("https://static-lib.truckerimg.com/font/open-san/OpenSans-SemiBold.ttf");
	font-weight: 600;
}
@font-face {
	font-family: 'Open Sans';
	src: url('https://static-lib.truckerimg.com/font/open-san/OpenSans-SemiBold.ttf');
	font-weight: 600;
}
@font-face {
	font-family: "OpenSans-SemiBold";
	src: url("https://static-lib.truckerimg.com/font/open-san/OpenSans-SemiBold.ttf");
	font-weight: normal;
	font-style: normal;
}
// Bold
@font-face {
	font-family: 'OpenSans';
	src: url('https://static-lib.truckerimg.com/font/open-san/OpenSans-Bold.ttf');
	font-weight: bold;
}
@font-face {
	font-family: 'Open Sans';
	src: url('https://static-lib.truckerimg.com/font/open-san/OpenSans-Bold.ttf');
	font-weight: bold;
}
@font-face {
	font-family: 'OpenSans-Bold';
	src: url('https://static-lib.truckerimg.com/font/open-san/OpenSans-Bold.ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans-ExtraboldItalic';
	src: url('https://static-lib.truckerimg.com/font/open-san/OpenSans-ExtraBoldItalic.ttf');
	font-weight: normal;
	font-style: normal;
}
